
  <div class="row wrapper">
    <div class="twelve columns">
      <h3>Midata energy saving recommendations for <span id="name"><span></h3>
  </div>

  <div class="row">
    <div class="four columns">
      <h4>Last year your energy bills were £x</h4>
      <div id="chart">
      </div>
      <h4 class="new_figure">Projected yearly savings on your energy bills £0.0 </h4>

    </div>
    <div class="eight columns" id="recommendations">
      <div>Based on your area (<span id="postcode"></span>) and property type (<span id="property"></span>) we recommend the following energy saving measures.
      </div>
      <div><strong class="instructions">Tick the box to see what impact each measure can have on your bills:</strong>
      </div>

      <ul>
      </ul>
      <a class="success button" href="#" data-reveal-id="nextModal">I want these </a>
    </div>
    <div id="nextModal" class="reveal-modal" style="top: 100px; opacity: 1; visibility: hidden; display: none;">
    <h2>What would happen next?</h2>
    <p>
      <ol>
        <li>We ask some qualifying questions on the technologies you are interested in</li>
        <li>... and if you are happy with us sending your details to get a quote</li>
        <li>... and then forward your details to the relevant companies</li>
      </ol>
    </p>
    <a class="close-reveal-modal">×</a>
  </div>
  </div>

