<div class="row wrapper">
  <div class="twelve columns">
    <h3>Instant personalized energy saving advice using midata</h3>  
  </div>


  <div class="twelve columns">
    <div class="four columns">
      <img src="/images/midata.png" alt="Midata log" />
    </div>
    <div class="eight columns summary" >
      <p>
      Midata is a new government initiative to give consumers access to the personal data that business's store about them in a machine readable format. Midata will enable new services that give consumer insight into their behavior. emPowerMi is an example application developed at the <a href="http://www.theodi.org/events/midata-hackathon-2012">midata hackathon</a> to demonstrate how midata can help consumers reduce their energy usage. Using the data that energy companies have about their customers we can:
        <ul>
          <li>give an instant summary of how much energy they are using</li>
          <li>suggest a range of energy efficiency measure that may help them</li>
          <li>show the impact of these energy efficiency measures on their bills</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="twelve columns">
    <h3>Try out emPowerMi with some sample personas</h3>
    <div class="twelve columns persona">
      <div class="nine columns profile">
        <img src="/images/robertfish.png" />
        <h3>Robert Fish</h3>
        <p>48 year old male who runs his own company. He travels a lot sometimes long distance. He lives in a large period house with his wife and three children in Lincolnshire. </p>
      </div>
      <div class="three columns">
        <a class="success button" href="/recommendations/rbfish">Login with midata</a>
        <div>
          This app will recieve:
          <ul>
            <li>Your house details</li>
            <li>Your utility bills</li>
            <li>Your meter readings</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="twelve columns persona">
      <div class="nine columns profile">
        <img src="/images/alicehill.png" />
        <h3>Alice Hill</h3>
        <p>23 year old female account assistant. She shares a flat with 2 others in Plymouth.</p>
      </div>
      <div class="three columns">
        <a class="success button" href="/recommendations/aehill">Login with midata</a>
        <div>
          This app will recieve:
          <ul>
            <li>Your house details</li>
            <li>Your utility bills</li>
            <li>Your meter readings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="twelve columns team">
    <h3>More information</h3>
    <div class="twelve columns"> 
      <div class="embed-container">
      <iframe src="http://www.youtube.com/embed/6g4JWP4ccAE?rel=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
  </div>

  <div class="twelve columns team">
    <h3>The emPowerMi team</h3>
    <div class="three columns member"> 
      <img src='https://twimg0-a.akamaihd.net/profile_images/102028940/jnsp_normal.jpg' class='pull-left avatar'/>
      <strong>Jason Neylon</strong><br/>
      <a href='http://twitter.com/jasonneylon'>@jasonneylon</a><br/>
      <a href='http://www.uswitch.com'>uSwitch</a><br/>
    </div>
    <div class="three columns member"> 
      <img src='https://secure.gravatar.com/avatar/f714edfc5fb866afe3a2891450596814?s=50' class='pull-left avatar'/>
      <strong>Chris Adams</strong><br/>
      <a href='http://twitter.com/mrchrisadams'>@mrchrisadams</a><br/>
      <a href='http://www.amee.com'>AMEE</a><br/>
    </div>
    <div class="three columns member"> 
      <img src='https://twimg0-a.akamaihd.net/profile_images/526537554/tweet_me_normal.JPG' class='pull-left avatar'/>
      <strong>Andrzej Byczko</strong><br/>
      <a href='https://twitter.com/veriservus'>@veriservus</a><br/>
    </div>
    <div class="three columns member"> 
      <img src='https://twimg0-a.akamaihd.net/profile_images/1620084601/autumn11_winners3_normal.jpg' class='pull-left avatar'/>
      <strong>Tomasz Jureczko</strong><br/>
      <a href='https://twitter.com/codehaha'>@codehaha</a><br/>
    </div>
  </div>


</div>

