/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */


#chart {
  background: #ddd 
  margin: 0 auto;
  width: 310px;
  height: 480px;
}

#recommendations ul {
  list-style-type: none;
}
#recommendations input {
  float: left;
}

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


