/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


body{
  background-image: url(../images/bg.png);
}

h2, h3{
  font-family: "Rokkitt", serif;
}

div.wrapper{
  background-color: #fefefe;
  border: 1px solid #DDD;
  padding: 15px;
  box-shadow: 2px 2px 2px #DEDEDE;

}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */


#chart {
  background: #ddd 
  margin: 0 auto;
  width: 310px;
  height: 480px;
}

#recommendations ul {
  list-style-type: none;
}
#recommendations input {
  float: left;
}

.recommended-item {
    padding: 10px 0px 30px 0px;
}
.recommended-item label {
  font-weight: bold;
}

.recommended-item span {
  line-height: 1em;
}

.recommended-item img {
  vertical-align: top;
  float: right;
}
/* -----------------------------------------
   Page Name 2
----------------------------------------- */


